header{
	grid-area: header;
	border: blue dashed;

	padding: 0 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.logo{
		img{width: 100px}
	}

	.menu{
		a{
			color: aqua;
			text-decoration: none;
			font-weight: bold;
			&:first-child{margin-right: 10px}
			&:last-child{margin-left: 10px}
			&:hover{
				color: white;
				text-decoration: underline;
			}
		}
	}
}